<table>
    <thead>
        <tr>
            <td class="col-a"> Artikel/Leistung </td>
            <td class="col-b"> Menge </td>
            <td class="col-c"> Faktor </td>
            <td class="col-d"> EPn </td>
            <td class="col-e"> GPn </td>
            <td class="col-f"> USt </td>
            <td class="col-g"> GPb </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<template class="template-treatment-invoice-plugin-row">
    <tr>
        <td class="col-a" data-type="article"></td>
        <td class="col-b" data-type="amount"></td>
        <td class="col-c" data-type="factor"></td>
        <td class="col-d" data-type="single-price-net"></td>
        <td class="col-e" data-type="price-net"></td>
        <td class="col-f" data-type="tax"></td>
        <td class="col-g" data-type="price-gross"></td>
    </tr>
</template>
<template class="template-treatment-invoice-plugin-new-row">
    <tr>
        <td class="col-a" data-type="article"></td>
        <td class="col-b" data-type="amount">1.0</td>
        <td class="col-c" data-type="factor">1.0</td>
        <td class="col-d" data-type="single-price-net">0.00</td>
        <td class="col-e" data-type="price-net">0.00</td>
        <td class="col-f" data-type="tax">19%</td>
        <td class="col-g" data-type="price-gross">0.00</td>
    </tr>
</template>