<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link href="/css/style.css" rel="stylesheet">

    <script src=" /libs/jquery/jquery.min.js"></script>

	<!-- jsonForm -->
	<!--<link href="/libs/jsonForm/src/jsonForm.css" rel="stylesheet">-->
	<!--<script src="/libs/jsonForm/src/jsonForm.js"></script>-->
    <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="/language/english.js"></script>
	<script src="/js/main.js"></script>
    <!-- modules -->
	<script src="/js/modules/search.js"></script>
	<script src="/js/modules/translate.js"></script>
    <!-- ui modules -->
	<script src="/js/uiModules/search.js"></script>
	<script src="/js/uiModules/userlist.js"></script>
	<script src="/js/uiModules/test.js"></script>

</head>
<body>
<header>
    <vendor>
        <!--
    <v_style>
    BioS |<br/>
        | | | | | |
        </v_style>
        -->
        <img alt="logo" src="/img/vendor/bios_logo.png"/>
    </vendor>
	<!--<logo>-->
		<!--<img alt="logo" src="/img/logo.png"/>-->
	<!--</logo>-->
    <company>
        Tierarztpraxis
    </company>
    <company_logo>
        <img alt="logo" src="/img/vendor/bios.png" style="background-color: lightgray"/>
    </company_logo>
    <userlist></userlist>
	<search></search>
    <test></test>
</header>

<sidebar>
	<nav>
		<ul>
			<li class="bg-color-green">
				<span class="initial">Ov</span>
				<span class="title">Overview</span>
			</li>
		</ul>
		<!-- other unordered lists here -->
	</nav>
	<div class="test-config"></div>
	<h3>Results</h3>
	<div class="stats">
		<span class="title">Average: </span><span class="value average">0</span>%
	</div>
</sidebar>
<content>
    <div class="fa fa-info"></div>
	<p>content</p>
	{{{body}}}
</content>
</body>
</html>
