<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link href="/css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- jsonForm -->
	<!--<link href="/libs/jsonForm/src/jsonForm.css" rel="stylesheet">-->
	<!--<script src="/libs/jsonForm/src/jsonForm.js"></script>-->

	<!--<link href="/libs/iziToast/dist/css/iziToast.css" rel="stylesheet">-->
	<!--<script src="/js/jsonForm.js"></script>-->
	<script src="/js/main.js"></script>
	<script src="/js/modules/server.js"></script>
	<script src="/js/uiModules/search.js"></script>

	<!--<script src="/libs/json-formatter.js"></script>-->
	<!--<script src="/libs/jenscript/jenscript.js"></script>-->

	<!--<script src="/jsonForm.js"></script>-->
	<!--<script src="/layoutMain.js"></script>-->

</head>
<body>
<header>
	<nav>
		<ul>
			<!--<li><a href="#0">test link</a></li>-->
		</ul>
	</nav>
	<search>
		<input type="text" name="search" placeholder="Search..">
	</search>
</header>

<sidebar>
	<nav>
		<ul>
			<li class="bg-color-green">
				<span class="initial">Ov</span>
				<span class="title">Overview</span>
			</li>
		</ul>
		<!-- other unordered lists here -->
	</nav>
	<div class="test-config"></div>
	<h3>Results</h3>
	<div class="stats">
		<span class="title">Average: </span><span class="value average">0</span>%
	</div>
</sidebar>
<content>
	<p>content</p>
	{{{body}}}
</content>
</body>
</html>
