<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link href="/css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- jsonForm -->
	<!--<link href="/libs/jsonForm/src/jsonForm.css" rel="stylesheet">-->
	<!--<script src="/libs/jsonForm/src/jsonForm.js"></script>-->

	<script src="/js/main.js"></script>
	<script src="/js/modules/server.js"></script>
	<script src="/js/uiModules/search.js"></script>

</head>
<body>
<header>
    <vendor_prg_name>
    <v_style>
    BioS |<br/>
        | | | | | |
        </v_style>

        <!--<img alt="logo" src="/img/bios.png"/>
        -->
    </vendor_prg_name>
	<logo>
		<img alt="logo" src="/img/logo.png"/>
	</logo>
    <company>
        Tierarztpraxis
    </company>
    <company_logo>
        <img alt="logo" src="/img/logo.png"/>
    </company_logo>
    <userlist>
        <ul>
            <li>|_| Salt</li>
            <li>|_| Fry</li>
        </ul>
    </userlist>
	<search></search>
</header>

<sidebar>
	<nav>
		<ul>
			<li class="bg-color-green">
				<span class="initial">Ov</span>
				<span class="title">Overview</span>
			</li>
		</ul>
		<!-- other unordered lists here -->
	</nav>
	<div class="test-config"></div>
	<h3>Results</h3>
	<div class="stats">
		<span class="title">Average: </span><span class="value average">0</span>%
	</div>
</sidebar>
<content>
	<p>content</p>
	{{{body}}}
</content>
</body>
</html>
