/*region sidebar flex*/
sidebar {
    display: flex;
    flex-direction: column;
}
sidebar>* {
    flex: 0 0;
}
sidebar div#sidebar-components {
    flex: 1 auto;
}
/*endregion*/

/*region sidebar div#sidebar-components pseudo flex*/
sidebar div#sidebar-components {
    display: flex;
    flex-direction: column;
}
sidebar div#sidebar-components section {

}
sidebar div#sidebar-components section#sidebar {
    --p-height : attr(data-parent-height);
    order: 1;
    flex: 0 0;
    height: calc( var(--p-height) * 2 / 4);
}
sidebar div#sidebar-components section#remember-me {
    --p-height : attr(data-parent-height);
    order: 2;
    flex: 0 0;
    height: calc( var(--p-height) * 1 / 4);
}
sidebar div#sidebar-components section#info {
    --p-height : attr(data-parent-height);
    order: 3;
    flex: 0 0;
    height: calc( var(--p-height) * 1 / 4);
}
/*endregion*/