/*region sidebar flex*/
sidebar {
    display: flex;
    flex-direction: column;
}
sidebar>* {
    flex: 0 0;
}
sidebar div#sidebar-components {
    flex: 1 auto;
}
/*endregion*/

/*region sidebar div#sidebar-components flex*/
sidebar div#sidebar-components {
    display: flex;
    flex-direction: column;
}
sidebar div#sidebar-components section {

}
sidebar div#sidebar-components section#sidebar {
    order: 1;
    flex: 2 auto;
}
sidebar div#sidebar-components section#remember-me {
    order: 2;
    flex: 1 auto;
}
sidebar div#sidebar-components section#info {
    order: 3;
    flex: 1 auto;
}
/*endregion*/