<nav>
    <ul>
        <li>
            <span class="initial">Ov</span>
            <span class="title">Overview</span>
        </li>
    </ul>
    <!-- other unordered lists here -->
</nav>
<div class="test-config"></div>
<h3>Results</h3>
<div class="stats">
    <span class="title">Average: </span><span class="value average">0</span>%
</div>
<div id="sidebar-components">
    <section id="sidebar" default=""></section>
    <section id="remember-me" default=""></section>
    <section id="info" default=""></section>
</div>
