header img {
    margin: calc(var(--header-height) * 0.05);
    margin-bottom: 0;
    height: var(--header-img-height);
}
header company-vcard {
    /* position:  absolute; */
    /* left: 40vw; */
    margin-right: 10vw;
    width: 250px;
}
/* region <vendor> */
header vendor {
    position:  absolute;
    left: 55px; /*from mdl design  .mdl-layout__drawer-button*/
    height: var(--header-height);
    color: #718eaa;
}