<div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <vendor></vendor>
    <user-list></user-list>
    <company-vcard></company-vcard>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
        </label>
        <live-search class="mdl-textfield__expandable-holder">
        </live-search>
    </div>

</div>