<!--<vendor class="fgh-column">-->
    <!--<img alt="logo" src="/img/vendor/bios_logo.png" class="flex-img-left"/>-->
    <!--<v_style>-->
        <!--BioS <br/>-->
    <!--</v_style>-->
<!--</vendor>-->
<!--<company class="fgh-column">-->
    <!--<company-vcard></company-vcard>-->
<!--</company>-->
<!--<head-panel class="fgh-column">-->
    <!--<user-list></user-list>-->
    <!--<search></search>-->
    <!--<data-table data-table="test"></data-table>-->
<!--</head-panel>-->

    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <user-list></user-list>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
            </label>
            <live-search class="mdl-textfield__expandable-holder">
            </live-search>
        </div>

    </div>
<!--</div>-->