header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--bg-dark);
}
header img {
    margin: calc(var(--header-height) * 0.05);
    margin-bottom: 0;
    height: var(--header-img-height);
}
/* region flex-grid */
header {
    display: flex;
}
vendor.fgh-column {
    flex: 5;
}
company.fgh-column {
    flex: 25;
}
head-panel.fgh-column {
    flex: 20;
}
/*endregion*/
/* region <vendor> */
header vendor {
    position: relative;
    height: var(--header-height);
    color: #718eaa;
    display: flex;
    justify-content: flex-start;
}
header vendor>v_style {
    order: 2;
    font-size: xx-large;
}
header vendor img {
    background-image: radial-gradient(white, gray);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* endregion */
/* region <head-panel> */
header head-panel {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header head-panel user-list {
    flex: 1;
    align-self: flex-end;
}
header head-panel search {
    flex: 1;
    align-self: flex-start;
}
head-panel search input[type=text] {
    width: 300px;
    background-color: var(--color-two-dark);
    /*transition: width 0.4s ease-in-out;*/
}

/* When the input field gets focus, change its width to 100% */
head-panel search input[type=text]:focus {
    width: 300px;
}
/* endregion */
/* region live search results */
header .liveResults {
    margin-top: 5px;
    width: 100%;
    float: left;
}
header .liveResults > li{
    padding: 5px;
    float: none;
}
header .liveResults li.fa{
    display: block;
    padding: 3px;
}
/* endregion */