.highlight {
    background-color: var(--color-one);
}
li.group {
     background-color: var(--bg-not-so-dark);
 }
li.live-search{
    background-color: var(--color-one-dark);
}
li.live-search:hover{
    background-color: var(--color-two);
}
li.live-search:hover .highlight{
    background-color: var(--color-two);
}
/*li.live-search[type="owner"]{*/
    /*background-color: var(--color-one-dark);*/
/*}*/
/*li.live-search[type="owner"]:hover{*/
    /*background-color: var(--color-one);*/
/*}*/
/*li.live-search[type="animal"]{*/
    /*background-color: var(--color-one);*/
/*}*/
/*li.live-search[type="animal"]:hover{*/
    /*background-color: var(--color-one-dark);*/
/*}*/
/*li.live-search[type="animal-dead"]{*/
    /*background-color: var(--color-one-dark);*/
    /*color: white;*/
/*}*/
/*li.live-search[type="animal-dead"]:hover{*/
    /*background-color: var(--color-one);*/
    /*color: black;*/
/*}*/
/*li.live-search[type="article"]{*/
    /*background-color: var(--color-three-dark);*/
/*}*/
/*li.live-search[type="article"]:hover{*/
    /*background-color: var(--color-three);*/
/*}*/