<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        {{headerIncludes}}
    </head>
    <body>

        <header></header>
        <content id="flex-grid-body">
            <sidebar class="fgb-item fgb-sidebar" ></sidebar>
            <main-content class="fgb-item fgb-main-content" >
                <section id="top-bar" default=""></section>
                <section id="main-content" default="dashboard"></section>
            </main-content>
        </content>
    </body>
</html>
