<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        {{headerIncludes}}
    </head>
    <body>

        <header></header>
        <div id="flex-grid-body">
            <section id="sidebar" class="fgb-item fgb-sidebar" default="sidebar"></section>
            <section id="main-content" class="fgb-item fgb-main-content" default="dashboard"></section>
        </div>
    </body>
</html>
