#flex-grid-body {
    display: flex;
    height: var(--body-height);
}
#flex-grid-body .fgb-item {
    height: var(--body-height);
}
#flex-grid-body .fgb-sidebar {
    flex: 5;
    margin-right: 1px;
}
#flex-grid-body .fgb-main-content {
    flex: 45;
}