/*region reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*endregion*/
/*region layout*/
body {
    padding-top: var(--header-hight);
}
/*endregion*/
/*region util*/
.break:after {
    content:"\000A";
    white-space: pre;
}
/*endregion*/
/*region scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 33px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px solid #00ff00;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: rgba(84, 84, 84, 0.1);
    border: 0px inset #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: rgba(102, 102, 102, 1);
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/*endregion*/
/* region flex */
#flex-container {
    display: flex;
}
#flex-container .flex-sidebar {
    order: 1;
    flex-grow: 1;
    height: var(--body-height);
    flex-basis: 250px;
    margin-right: 10px;
}
#flex-container .flex-main-content {
    order: 2;
    flex-grow: 49;
    height: var(--body-height);
    flex-basis: 250px;
}
/* endregion */