body{
    background-color: var(--bg);
}

header,
.mdl-layout__header-row {
    height: var(--header-height);
}
.mdl-layout__header {
    background-color: var(--color-one-dark);
}
content {
    margin-top: var(--header-height);
    height: var(--body-height);
}
content main-content section#top-bar {
    height: var(--top-bar);
    background-color: var(--color-normal);
}
content main-content section#main-content {
    height: calc(var(--body-height) - var(--top-bar));
}

/*region util*/
.break:after {
    content:"\000A";
    white-space: pre;
}
/*endregion*/