div.settings-icon {
    background-image: url('/img/ui-kit/settings.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.dash-cards .settings-icon{
    height: 100px;
    width: 100px;
}

div.settings-icon:hover,
div.settings-icon.hovered,
*:hover>div.settings-icon {
    background: url('/img/ui-kit/settings_a.gif');
    background-repeat: no-repeat;
    background-size: contain;
}