/*region variables*/
:root {
    font-family: Bahnschrift;
    --bg-dark: #3a383a;
    --bg-not-so-dark: #525052;

    --color-dark: #121212;
    --color-normal: #d4d4d4;
    
    --color-one: #718eaa;
    --color-one-dark: #2d6987;
    --color-two: #6ceebf;
    --color-two-dark: #3eb9a0;
    --color-three: #ffa115;
    --color-three-dark: #c56c15;

    --header-height: 4em;
    --header-img-height: calc(var(--header-height) * 0.9);
    --sidebar-width: 4em;
    --body-height: calc(100vh - var(--header-height));
}

.color-one {
    background-color: var(--color-one);
}
.color-one-dark {
    background-color: var(--color-one-dark);
}
.color-two {
    background-color: var(--color-two);
}
.color-two-dark {
    background-color: var(--color-two-dark);
}
.color-three {
    background-color: var(--color-three);
}
.color-three-dark {
    background-color: var(--color-three-dark);
}
form-field-background{
    background-color: var(--color-one);
}

.color-red {
    color: #d4563d;
}
.bg-color-red {
    background-color: #d4563d;
}
.color-orange {
    color: #ffa115;
}
.bg-color-orange {
    background-color: #ffa115;
}
.color-yellow {
    color: #eeec53;
}
.bg-color-yellow {
    background-color: #eeec53;
}
.color-green {
    color: #22a92f;
}
.bg-color-green {
    background-color: #22a92f;
}
.color-blue {
    color: #36d1ff;
}
.bg-color-blue {
    background-color: #36d1ff;
}
.color-dark-blue {
    color: #5b43a5;
}
.bg-color-dark-blue {
    background-color: #5b43a5;
}
.color-pink {
    color: #ec4fff;
}
.bg-color-pink {
    background-color: #ec4fff;
}
/*endregion*/