<div class="user-list-selector">
    <span class="user-list-selector-name"></span>
    <ul class="mdl-list user-list hidden"></ul>
</div>

<template class="template-user-list-item">
    <li class="mdl-list__item user-list-entry">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">person</i>
            <span class="name"></span>
        </span>
        <span class="mdl-list__item-secondary-action">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" class="mdl-checkbox__input" />
            </label>
        </span>
    </li>
</template>