<ul class="live-search-result">
    <li class="group group-owner hidden">
        <br>
        <span class="title"></span>
        <br>
        <br>
        <ul class="items"></ul>
    </li>
    <li class="group group-animal hidden">
        <br>
        <span class="title"></span>
        <br>
        <br>
        <ul class="items"></ul>
    </li>
    <li class="group group-animal-d hidden">
        <br>
        <span class="title"></span>
        <br>
        <br>
        <ul class="items"></ul>
    </li>
    <li class="group group-article hidden">
        <br>
        <span class="title"></span>
        <br>
        <br>
        <ul class="items"></ul>
    </li>
</ul>