live-search-result {
    position: absolute;
    right:  0;
    width: 450px;
    color: black;
}
live-search-result>li{
    display: block;
}
li.group {
    background-color: var(--color-one-dark);
    display: block;
}
live-search-result li.live-search-result-item {
    background-color: var(--color-one);
    display: block;
}
span.highlight{
    color: lightgrey;
}
live-search-result li.live-search-result-item:hover{
    color: black;
    background-color: var(--color-one-dark);
}