fc-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
}
fc-overview ul.owner {
    order: 1;
    flex: 2 auto;
    min-height: 2em;
}
fc-overview ul.animal {
    order: 2;
    flex: 4 auto;
    min-height: 2em;
}
fc-overview ul.treatment {
    order: 3;
    flex: 4 auto;
    min-height: 2em;
}
fc-overview ul.dead {
    position: absolute;
    min-height: 1em;
    width: 1em;
    height: 1em;
    top: calc(var(--header-height) + var(--top-bar));
    left: calc(var(--sidebar-width) - 1em);
}