/*region top ./. content*/
mc-flashcard {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mc-flashcard .fc-top {
    order: 1;
    flex: 0 auto;
}
mc-flashcard div.fc-content {
    order: 2;
    flex: 1 auto;
 }
/*endregion*/


mc-flashcard .fc-top {
    display: flex;
}
mc-flashcard .fc-top div.fc-top-item {
    flex: 1 auto 10vw;
}